# Ignore everything
*

# Don't ignore dotfiles
!.*
!.*/**/*
.alchemy
.env
!mise.toml
!app.yaml
!docker-compose.yml
!Dockerfile
!*.md
!*.sh
!alchemy.run.ts
!deno.json
!deno.lock

.claude/*.local.json
.conductor
